# Reasoning SFT Test Report

Generated at: 2026-02-19T21:49:06

- resume_state_path: tinker://3a290a97-6c20-533b-b8e1-b33f9a91acc7:train:0/weights/reasoning_sft_20260219_200600_resume_state

## final model

- final model or best-val model: final model
- model_path: tinker://3a290a97-6c20-533b-b8e1-b33f9a91acc7:train:0/sampler_weights/reasoning_sft_20260219_200600_final
- accuracy: 0.700000
- balanced_accuracy: 0.653846
- F1: 0.470588
- mcc: 0.448535
- precision: 1.000000
- recall: 0.307692
- auroc: 0.948959
- auprc: 0.919333
- invalid_label_rate: 0.000000
- tp: 20
- fp: 0
- fn: 45
- tn: 85

## best-val model

- final model or best-val model: best-val model
- model_path: tinker://3a290a97-6c20-533b-b8e1-b33f9a91acc7:train:0/sampler_weights/reasoning_sft_20260219_200600_step_56_eval
- accuracy: 0.713333
- balanced_accuracy: 0.669231
- F1: 0.505747
- mcc: 0.474088
- precision: 1.000000
- recall: 0.338462
- auroc: 0.948597
- auprc: 0.918915
- invalid_label_rate: 0.000000
- tp: 22
- fp: 0
- fn: 43
- tn: 85
