# Reasoning SFT Test Report

Generated at: 2026-02-19T19:38:19

- resume_state_path: None

## final model

- final model or best-val model: final model
- model_path: tinker://390625e8-9985-5214-9b31-a042739860b5:train:0/sampler_weights/reasoning_sft_20260219_185743_final
- accuracy: 0.600000
- balanced_accuracy: 0.500000
- F1: 0.000000
- mcc: 0.000000
- precision: 0.000000
- recall: 0.000000
- auroc: 0.875000
- auprc: 0.804167
- invalid_label_rate: 0.000000
- tp: 0
- fp: 0
- fn: 4
- tn: 6

## best-val model

- final model or best-val model: best-val model
- model_path: tinker://390625e8-9985-5214-9b31-a042739860b5:train:0/sampler_weights/reasoning_sft_20260219_185743_step_0_eval
- accuracy: 0.600000
- balanced_accuracy: 0.500000
- F1: 0.000000
- mcc: 0.000000
- precision: 0.000000
- recall: 0.000000
- auroc: 0.875000
- auprc: 0.804167
- invalid_label_rate: 0.000000
- tp: 0
- fp: 0
- fn: 4
- tn: 6
