# Reasoning SFT Test Report

Generated at: 2026-02-20T00:36:08

- resume_state_path: tinker://c63cb939-1662-578f-9353-9cebd4bb9670:train:0/weights/reasoning_sft_20260219_225250_resume_state

## final model

- final model or best-val model: final model
- model_path: tinker://c63cb939-1662-578f-9353-9cebd4bb9670:train:0/sampler_weights/reasoning_sft_20260219_225250_final
- accuracy: 0.893333
- balanced_accuracy: 0.891403
- F1: 0.876923
- mcc: 0.782805
- precision: 0.876923
- recall: 0.876923
- auroc: 0.944615
- auprc: 0.908667
- invalid_label_rate: 0.000000
- tp: 57
- fp: 8
- fn: 8
- tn: 77

## best-val model

- final model or best-val model: best-val model
- model_path: tinker://c63cb939-1662-578f-9353-9cebd4bb9670:train:0/sampler_weights/reasoning_sft_20260219_225250_step_56_eval
- accuracy: 0.920000
- balanced_accuracy: 0.920362
- F1: 0.909091
- mcc: 0.837998
- precision: 0.895522
- recall: 0.923077
- auroc: 0.944796
- auprc: 0.904884
- invalid_label_rate: 0.000000
- tp: 60
- fp: 7
- fn: 5
- tn: 78
