# Reasoning SFT Test Report

Generated at: 2026-02-19T19:51:54

- resume_state_path: tinker://608beb50-da98-5d93-a4a3-273c5e330532:train:0/weights/reasoning_sft_20260219_194759_resume_state

## final model

- final model or best-val model: final model
- model_path: tinker://608beb50-da98-5d93-a4a3-273c5e330532:train:0/sampler_weights/reasoning_sft_20260219_194759_final
- accuracy: 0.600000
- balanced_accuracy: 0.500000
- F1: 0.000000
- mcc: 0.000000
- precision: 0.000000
- recall: 0.000000
- auroc: 0.875000
- auprc: 0.804167
- invalid_label_rate: 0.000000
- tp: 0
- fp: 0
- fn: 4
- tn: 6

## best-val model

- final model or best-val model: best-val model
- model_path: tinker://608beb50-da98-5d93-a4a3-273c5e330532:train:0/sampler_weights/reasoning_sft_20260219_194759_step_0_eval
- accuracy: 0.600000
- balanced_accuracy: 0.500000
- F1: 0.000000
- mcc: 0.000000
- precision: 0.000000
- recall: 0.000000
- auroc: 0.875000
- auprc: 0.825000
- invalid_label_rate: 0.000000
- tp: 0
- fp: 0
- fn: 4
- tn: 6
